@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap');

:root {
  /* Color */
  --white-color: #eaeaea;
  --gray-color: #808080;
  --red-color: #e84c3c;
  --black-color: #0e171d;
  --yellow-color: #DDFD18;
  
  /* Font Size */
  --font-large: 5rem;
  --font-medium: 1rem;

  /* Text Shadow */
  --text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  /* Padding */
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
}

#map {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5rem 3.5rem;
}

header .logo-and-status {
  display: flex;
}

header .logo-and-status .logo {
  font-family: 'Courgette';
  font-size: var(--font-large);
  line-height: 5rem;
  color: #DDFD18;
  text-shadow: var(--text-shadow);
}

header .logo-and-status .status {
  display: flex;
  margin: 2rem;
}

header .logo-and-status .status a {
  height: 1em;
  margin-right: 3rem;
  font-size: var(--font-medium);
  color: var(--gray-color);
}

header .logo-and-status .status .selected {
  color: #DDFD18;
}

header .account-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 6rem;
  height: 3rem;
  margin-top: 2rem;
  border: none;
  border-radius: 6rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white-color);
  cursor: pointer;
}

header .account-btn .fa-bars {
  font-size: calc(var(--font-medium) * 1.5);
  color: #F3B191;
}

header .account-btn .fa-user-circle {
  font-size: calc(var(--font-medium) * 1.8);
  color: #F3B191;
}

header .account-menu {
  display: none;
}

header .account-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 7rem;
  right: 3.5rem;
  width: 15rem;
  height: 9rem;
  padding-left: 2rem;
  border-radius: 1rem;
  background-color: var(--white-color);
  font-size: calc(var(--font-medium) * 1.5);
}

header .account-menu.active .login a {
  font-weight: 700;
  color: var(--black-color);
}

header .account-menu.active .signup a {
  color: var(--black-color);
}

.write-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem 0;
  text-align: center;
}

.write-btn button {
  width: 11.25rem;
  height: 3.75rem;
  padding-bottom: 0.188em;
  border: 5px solid #DDFD18;
  background-color: rgba(255, 255, 255, 0);
  font-size: calc(var(--font-medium) * 1.5);
  font-weight: 700;
  color: #DDFD18;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal .background {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);
}

.modal .modal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 70vw;
  height: 90vh;
  padding: 15px;
  border-radius: 4rem;
  background: linear-gradient(
    var(--white-color),
    10%,
    rgba(255, 255, 255, 0.5)
  );
}

.modal .modal-box .city {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 2.5rem auto 0 auto;
  text-align: center;
}

.modal .modal-box .city li {
  height: 8rem;
  margin-right: 0.7rem;
  list-style: none;
}

.modal .modal-box .city li .up {
  width: 6.2rem;
  height: calc(50% - 0.2rem);
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--red-color);
  box-shadow: inset var(--box-shadow);
  z-index: 1;
}

.modal .modal-box .city li .down {
  position: relative;
  top: 0.2rem;
  width: 6.2rem;
  height: calc(50% - 0.2rem);
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--red-color);
}

.modal .modal-box .city li span {
  position: relative;
  bottom: 7rem;
  font-size: 5.8rem;
  font-weight: 700;
  color: var(--white-color);
}

.modal .modal-box .submit-btn {
  width: 100%;
  margin-bottom: 2.5rem;
  text-align: center;
}

.modal .modal-box .submit-btn button {
  width: 11.25rem;
  height: 3.75rem;
  padding-bottom: 0.188em;
  border: 5px solid var(--white-color);
  background-color: rgba(255, 255, 255, 0);
  font-size: calc(var(--font-medium) * 1.5);
  font-weight: 700;
  color: var(--white-color);
  cursor: pointer;
}

.modal .modal-box .map-and-form {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 4.5rem auto;
}

.modal .modal-box .map-and-form .map-and-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 100%;
}

.modal .modal-box .map-and-form .map-and-location #mini-map {
  width: 100%;
  height: 97%;
}

.modal .modal-box .map-and-form .map-and-location .location {
  margin-top: 0.25rem;
  font-size: var(--font-medium);
  color: white;
}

.modal .modal-box .map-and-form .form {
  display: flex;
  justify-content: center;
  width: 65%;
  height: calc(97% - 0.25rem);
  background-color: rgba(255, 255, 255, 0.15);
}

.modal .modal-box .map-and-form .form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  height: 100%;
}

.modal .modal-box .map-and-form .form form * {
  border: 2.5px solid white;
  background-color: rgba(255, 255, 255, 0);
}

.modal .modal-box .map-and-form .form form input {
  height: 7.5%;
}

.modal .modal-box .map-and-form .form form input[type='file'] {
  width: 20%;
  height: 7.5%;
}

.modal .modal-box .map-and-form .form form textarea {
  height: 37.5%;
}

.modal .modal-box .map-and-form .form form input::placeholder,
.modal .modal-box .map-and-form .form form textarea::placeholder {
  font-size: calc(var(--font-medium) * 1.4);
  font-weight: lighter;
  color: white;
  background-image: url(../img/user-solid.svg);
  background-size: contain;
  background-position: 98% top;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}
