@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:wght@700&display=swap");

:root {
  /* Color */
  --white-color: #eaeaea;
  --gray-color: #808080;
  --red-color: #e84c3c;
  --black-color: #0e171d;

  /* Font Size */
  --font-large: 5rem;
  --font-medium: 1rem;

  /* Text Shadow */
  --text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  /* Padding */
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
}

#map {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5rem 3.5rem;
}

header .logo-and-status {
  display: flex;
}

header .logo-and-status .logo {
  font-family: "Courgette";
  font-size: var(--font-large);
  line-height: 5rem;
  color: var(--white-color);
  text-shadow: var(--text-shadow);
}

header .logo-and-status .status {
  display: flex;
  margin: 2rem;
}

header .logo-and-status .status a {
  height: 1em;
  margin-right: 3rem;
  font-size: var(--font-medium);
  color: var(--gray-color);
}

header .logo-and-status .status .selected {
  color: var(--white-color);
}

header .account-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 6rem;
  height: 3rem;
  margin-top: 2rem;
  border: none;
  border-radius: 6rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white-color);
  cursor: pointer;
}

header .account-btn .fa-bars {
  font-size: calc(var(--font-medium) * 1.5);
  color: var(--black-color);
}

header .account-btn .fa-user-circle {
  font-size: calc(var(--font-medium) * 1.8);
  color: var(--black-color);
}

header .account-menu {
  display: none;
}

header .account-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 7rem;
  right: 3.5rem;
  width: 15rem;
  height: 9rem;
  padding-left: 2rem;
  border-radius: 1rem;
  background-color: var(--white-color);
  font-size: calc(var(--font-medium) * 1.5);
}

header .account-menu.active .login a {
  font-weight: 700;
  color: var(--black-color);
}

header .account-menu.active .signup a {
  color: var(--black-color);
}

.write-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4rem 0;
  text-align: center;
}

.write-btn button {
  width: 11.25rem;
  height: 3.75rem;
  padding-bottom: 0.188em;
  border: 5px solid var(--white-color);
  background-color: rgba(255, 255, 255, 0);
  font-size: calc(var(--font-medium) * 1.5);
  font-weight: 700;
  color: var(--white-color);
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal .background {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);
}

.modal .modal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 70vw;
  height: 90vh;
  padding: 15px 0;
  border-radius: 4rem;
  background: linear-gradient(
    var(--white-color),
    10%,
    rgba(255, 255, 255, 0.5)
  );
}

.modal .modal-box .city {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 2.5rem auto 0 auto;
  text-align: center;
}

.modal .modal-box .city li {
  height: 8rem;
  margin-right: 0.7rem;
  list-style: none;
}

.modal .modal-box .city li .up {
  width: 6.2rem;
  height: calc(50% - 0.2rem);
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--red-color);
  box-shadow: inset var(--box-shadow);
  z-index: 1;
}

.modal .modal-box .city li .down {
  position: relative;
  top: 0.2rem;
  width: 6.2rem;
  height: calc(50% - 0.2rem);
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--red-color);
}

.modal .modal-box .city li span {
  position: relative;
  bottom: 7rem;
  font-size: 5.8rem;
  font-weight: 700;
  color: var(--white-color);
}

.modal .modal-box .submit-btn {
  width: 100%;
  margin-bottom: 2.5rem;
  text-align: center;
}

.modal .modal-box .submit-btn button {
  width: 11.25rem;
  height: 3.75rem;
  padding-bottom: 0.188em;
  border: 5px solid var(--white-color);
  background-color: rgba(255, 255, 255, 0);
  font-size: calc(var(--font-medium) * 1.5);
  font-weight: 700;
  color: var(--white-color);
  cursor: pointer;
}

.modal .modal-box .map-and-form {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 4.5rem auto;
}

.modal .modal-box .map-and-form .map-and-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 100%;
}

.modal .modal-box .map-and-form .map-and-location #mini-map {
  width: 100%;
  height: 97%;
}

.modal .modal-box .map-and-form .map-and-location .location {
  margin-top: 0.25rem;
  font-size: var(--font-medium);
  color: white;
}

.modal .modal-box .map-and-form .form {
  display: flex;
  justify-content: center;
  width: 65%;
  height: calc(97% - 0.25rem);
  background-color: rgba(255, 255, 255, 0.15);
}

.modal .modal-box .map-and-form .form form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  height: 100%;
}

.modal .modal-box .map-and-form .form form * {
  border: 2.5px solid white;
  background-color: rgba(255, 255, 255, 0);
}

.modal .modal-box .map-and-form .form form input {
  height: 7.5%;
}

.modal .modal-box .map-and-form .form form input[type="file"] {
  width: 20%;
  height: 7.5%;
}

.modal .modal-box .map-and-form .form form textarea {
  height: 37.5%;
}

.modal .modal-box .map-and-form .form form input::placeholder,
.modal .modal-box .map-and-form .form form textarea::placeholder {
  font-size: calc(var(--font-medium) * 1.4);
  font-weight: lighter;
  color: white;
  background-image: url(../img/user-solid.svg);
  background-size: contain;
  background-position: 98% top;
  background-repeat: no-repeat;
}

/* preview-list */
.modal .modal-box .preview-list {
  display: flex;
  justify-content: space-evenly;
}

.modal .modal-box .preview-list .to-prev-btn,
.modal .modal-box .preview-list .to-post-btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
  filter: blur(1px);
}

.modal .modal-box .preview-list .to-prev-btn .sm,
.modal .modal-box .preview-list .to-post-btn .sm {
  font-size: 1rem;
}

.modal .modal-box .preview-list .to-prev-btn .md,
.modal .modal-box .preview-list .to-post-btn .md {
  font-size: 2rem;
}

.modal .modal-box .preview-list .to-prev-btn .lg,
.modal .modal-box .preview-list .to-post-btn .lg {
  font-size: 3rem;
}

.modal .modal-box .preview-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 1600px; */
  padding: 0 1rem;
  list-style: none;
  /* overflow-x: scroll; */
}

.modal .modal-box .preview-list ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.modal .modal-box .preview-list ul::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/* .modal .modal-box .preview-list ul li {
  background-size: cover;
  background-position: center;
}
.modal .modal-box .preview-list ul .preview1,
.modal .modal-box .preview-list ul .preview7 {
  width: 120px;
  height: 120px;
  filter: blur(0.75rem);
}
.modal .modal-box .preview-list ul .preview2,
.modal .modal-box .preview-list ul .preview6 {
  width: 200px;
  height: 200px;
  filter: blur(0.5rem);
}
.modal .modal-box .preview-list ul .preview3,
.modal .modal-box .preview-list ul .preview5 {
  width: 300px;
  height: 300px;
  filter: blur(0.25rem);
}
.modal .modal-box .preview-list ul .preview-center {
  width: 450px;
  height: 450px;
  background-image: url('../img/preview-center.jpg');
}
.modal .modal-box .preview-list ul .preview1 {
  background-image: url('../img/preview1.jpg');
}
.modal .modal-box .preview-list ul .preview2 {
  background-image: url('../img/preview2.jpg');
}
.modal .modal-box .preview-list ul .preview3 {
  background-image: url('../img/preview3.jpg');
}
.modal .modal-box .preview-list ul .preview5 {
  background-image: url('../img/preview5.jpg');
}
.modal .modal-box .preview-list ul .preview6 {
  background-image: url('../img/preview6.jpg');
}
.modal .modal-box .preview-list ul .preview7 {
  background-image: url('../img/preview.jpg');
} */

.modal .modal-box .preview-list ul .preview1 img,
.modal .modal-box .preview-list ul .preview7 img {
  width: 100px;
  height: 100px;
  filter: blur(0.75rem);
}

.modal .modal-box .preview-list ul .preview2 img,
.modal .modal-box .preview-list ul .preview6 img {
  width: 180px;
  height: 180px;
  filter: blur(0.5rem);
}

.modal .modal-box .preview-list ul .preview3 img,
.modal .modal-box .preview-list ul .preview5 img {
  width: 280px;
  height: 280px;
  filter: blur(0.25rem);
}

.modal .modal-box .preview-list ul .preview-center img {
  width: 420px;
  height: 420px;
}

.hidden {
  display: none;
}
