{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main-public</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/main_public.css' %}">
  <script src="{% static 'js/google_maps.js' %}" defer></script>
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js" defer></script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRgCEQvHMAJaK6SAYkpbbizy5heP94EJk&callback=initMap&libraries=&v=weekly"
  async defer></script>
</head>


<body>
  <div id="map"></div>

  <header>
    <div class="logo-and-status">
      <a class="logo" href="#">map<br>mo</a>
      <ul class="status">
        <a href="{% url 'main_public' %}">
          <li class="selected">public</li>
        </a>
        <a href="{% url 'main_friends' %}">
          <li>friends</li>
        </a>
        <a href="{% url 'main_private' %}">
          <li>private</li>
        </a>
      </ul>
    </div>
    <button class="account-btn">
      <i class="fas fa-bars"></i>
      <i class="fas fa-user-circle"></i>
    </button>
    <div class="account-menu">
      <div class="login">
        <a href="#">로그인</a>
      </div>
      <div class="signup">
        <a href="#">회원가입</a>
      </div>
    </div>
  </header>

  <div class="write-btn">
    <button>글쓰기</button>
  </div>

  <div class="modal hidden">
    <div class="background"></div>
    <div class="modal-box">
      <ul class="city">
        <li>
          <div class="up"></div>
          <div class="down"></div>
          <span>L</span>
        </li>
        <li>
          <div class="up"></div>
          <div class="down"></div>
          <span>O</span>
        </li>
        <li>
          <div class="up"></div>
          <div class="down"></div>
          <span>N</span>
        </li>
        <li>
          <div class="up"></div>
          <div class="down"></div>
          <span>D</span>
        </li>
        <li>
          <div class="up"></div>
          <div class="down"></div>
          <span>O</span>
        </li>
        <li>
          <div class="up"></div>
          <div class="down"></div>
          <span>N</span>
        </li>
      </ul>


      <main class="map-and-form"> 
      
        <section class="map-and-location">
          <div id="mini-map"></div>
          <span class="location">
            London HA9 0WS, United Kingdom</span>
        </section>
        <section class="form">
       <form method="POST" action="{% url 'write_public' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="   name">
            <input type="text" name="title" placeholder="   title">
            <input type="file" name="img" placeholder="image">
            <input type="hidden" name="lat" id="lat" value=0.0> 
            <input type="hidden" name="lng" id="lng" value=0.0>
            <textarea name="body" cols="30" rows="10" placeholder="   body"></textarea>
            
</section>
<div class="submit-btn">
  <button type="submit" name="submit">작성하기</button>
</div>
</form>
      </main>
      
      <main class="preview-list hidden">
        <button class="to-prev-btn">
          <i class="fas fa-chevron-left sm"></i>
          <i class="fas fa-chevron-left md"></i>
          <i class="fas fa-chevron-left lg"></i>
        </button>
        <ul>
          <li class="preview0 hidden"><img src="{% static 'img/preview0.jpg' %}" alt=""></li>
          <li class="preview1"><img src="{% static 'img/preview1.jpg' %}" alt=""></li>
          <li class="preview2"><img src="{% static 'img/preview2.jpg' %}" alt=""></li>
          <li class="preview3"><img src="{% static 'img/preview3.jpg' %}" alt=""></li>
          <li class="preview-center"><img src="{% static 'img/preview-center.jpg' %}" alt=""></li>
          <li class="preview5"><img src="{% static 'img/preview5.jpg' %}" alt=""></li>
          <li class="preview6"><img src="{% static 'img/preview6.jpg' %}" alt=""></li>
          <li class="preview7"><img src="{% static 'img/preview7.jpg' %}" alt=""></li>
          <li class="preview8 hidden"><img src="{% static 'img/preview8.jpg' %}" alt=""></li>
          <!-- <li class="preview1"></li>
          <li class="preview2"></li>
          <li class="preview3"></li>
          <li class="preview-center"></li>
          <li class="preview5"></li>
          <li class="preview6"></li>
          <li class="preview7"></li> -->
        </ul>
        <button class="to-post-btn">
          <i class="fas fa-chevron-right lg"></i>
          <i class="fas fa-chevron-right md"></i>
          <i class="fas fa-chevron-right sm"></i>
        </button>

      </main>

    </div>
  </div>
  <script src="{% static 'js/search_location.js' %}" defer></script>
</body>

</html>